<div class="container">
  <div class="row">

    @for(item of products; track item.id){
    <div class="col py-3">
      <figure class="image-block">
        <img src={{item.images}} />
        <figcaption>
          <h3>
            {{item.title.slice(0,50)}}
          </h3>
          <p>{{item.description.slice(0,270)}} </p>
          <button>
           <a routerLink="/product/{{item.id}}">More Info</a>
          </button>
        </figcaption>
      </figure>
    </div>
    }
  </div>
</div>
